
:root {
  scroll-behavior: smooth;
}

body {
  font-family: Poppins, Helvetica, Arial, sans-serif;
  color: #444444;
}

a {
  color: #505552;
  text-decoration: none;
}

a:hover {
  color: #2B8C8C;
  text-decoration: none;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Nunito", sans-serif;
}

/*--------------------------------------------------------------
# Sections
--------------------------------------------------------------*/
section {
  padding: 60px 0;
  overflow: hidden;
}

.section-header {
  text-align: center;
  padding-bottom: 40px;
}

.section-header h2 {
  font-size: 13px;
  letter-spacing: 1px;
  font-weight: 700;
  margin: 0;
  color: #6C63FF;
  text-transform: uppercase;
}

.section-header p {
  margin: 10px 0 0 0;
  padding: 0;
  font-size: 38px;
  line-height: 42px;
  font-weight: 700;
  color: #6C63FF;
}

@media (max-width: 768px) {
  .section-header p {
    font-size: 28px;
    line-height: 32px;
  }
}

/*--------------------------------------------------------------
# Disable aos animation delay on mobile devices
--------------------------------------------------------------*/
@media screen and (max-width: 768px) {
  [data-aos-delay] {
    transition-delay: 0 !important;
  }
}

/*--------------------------------------------------------------
# Header
--------------------------------------------------------------*/
.header {
  transition: all 0.5s;
  z-index: 997;
  padding: 20px 0;
}

.header.header-scrolled {
  background: #fff;
  padding: 15px 0;
  box-shadow: 0px 2px 20px rgba(1, 41, 112, 0.1);
}

.header .logo {
  line-height: 0;
}

.header .logo img {
  max-height: 85px;
  /* margin-right: 2px; */
}

.header .logo span {
  font-size: 40px;
  font-weight: 800;
  letter-spacing: 1px;
  color: #593DBC;
  font-family: 'Hind Vadodara', sans-serif;
  margin-top: 3px;
}

/*--------------------------------------------------------------
# Navigation Menu
--------------------------------------------------------------*/
/**
* Desktop Navigation 
*/
.navbar {
  padding: 0;
}
.navbar ul {
  margin: 0;
  padding: 0;
  display: flex;
  list-style: none;
  align-items: center;
}
.navbar li {
  position: relative;
}
.navbar a {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 0 10px 30px;
  font-family: "Nunito", sans-serif;
  font-size: 16px;
  font-weight: 600;
  color: #000000;
  white-space: nowrap;
  transition: 0.3s;
}

.navbar a i {
  font-size: 12px;
  line-height: 0;
  margin-left: 5px;
}

.navbar a:hover, .navbar .active, .navbar li:hover > a {
  color: rgb(111, 112, 140);
}

.navbar .getstarted {
  min-width: 110px;
  height: 45px;
  border-radius: 32px;
  background: linear-gradient(238.64deg , rgb(49, 219, 227) -90.67%, rgb(147, 14, 255) 122.19%);

  padding: 8px 20px;
  margin-left: 30px;
  color: #FCFCFC;
}

.navbar .getstarted:hover {
  color: #FCFCFC;
  background: #4335B3;
}

/**
* Mobile Navigation 
*/
.mobile-nav-toggle {
  color: #9353D4;
  font-size: 28px;
  cursor: pointer;
  display: none;
  line-height: 0;
  transition: 0.5s;
}

.mobile-nav-toggle.bi-x {
  color: #fff;
}

@media (max-width: 991px) {
  .mobile-nav-toggle {
    display: block;
  }
  .navbar ul {
    display: none;
  }
}

.navbar-mobile {
  position: fixed;
  overflow: hidden;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  background: #1a4301;
  transition: 0.3s;
}

.navbar-mobile .mobile-nav-toggle {
  position: absolute;
  top: 15px;
  right: 15px;
}

.navbar-mobile ul {
  display: block;
  position: absolute;
  top: 55px;
  right: 15px;
  bottom: 15px;
  left: 15px;
  padding: 10px 0;
  border-radius: 10px;
  background-color: #fff;
  overflow-y: auto;
  transition: 0.3s;
}

.navbar-mobile a {
  padding: 10px 20px;
  font-size: 15px;
  color: #ffffff;
}

.navbar-mobile a:hover, .navbar-mobile .active, .navbar-mobile li:hover > a {
  color: rgb(111, 112, 140);
}

.navbar-mobile .getstarted {
  margin: 15px;
}
/*--------------------------------------------------------------
# Home Section
--------------------------------------------------------------*/
.home {
  width: 100%;
  height: 100vh;
  /* background: #5824B0; */
  background: url(../img/hero-bg.png) top center no-repeat;
  
  /* background: -webkit-linear-gradient(left, #b15ee0, #3931af); */
  
  background-size: cover;
}

.home h1 {
  font-family: Poppins, Helvetica, Arial, sans-serif;
  font-weight: bold;
  letter-spacing: -2px;
  color: rgb(18, 0, 59);
  margin: 0;
  font-size: 48px;
  /* font-weight: 700;
  color: #593DBC; */
}

.home h2 {
  margin: 15px 0 0 0;
  font-size: 26px;
  font-style: normal;
  
  font-family: Inter, Helvetica, Arial, sans-serif;
  font-weight: 500;
  color: rgb(111, 112, 140);
  /* color: #A673D3; */
}

.home .btn-sign-up {
  margin-top: 30px;

  min-width: 220px;
  height: 64px;
  border-radius: 32px;
  background: linear-gradient(238.64deg , rgb(49, 219, 227) -90.67%, rgb(147, 14, 255) 122.19%);
  
  line-height: 0;
  padding: 15px 40px;
  transition: 0.5s;
  color: #FCFCFC;
  box-shadow: 0px 5px 30px rgba(65, 84, 241, 0.4);
}

.home .btn-sign-up span {
  font-family: "Nunito", sans-serif;
  font-weight: 600;
  font-size: 16px;
  letter-spacing: 1px;
}

.home .btn-sign-up i {
  margin-left: 5px;
  font-size: 18px;
  transition: 0.4s;
}

.home .btn-sign-up:hover i {
  transform: translateX(8px);
}

/*Mobile view
*/
@media (min-width: 1024px) {
  .home {
    background-attachment: fixed;
  }
}

@media (max-width: 991px) {
  .home {
    height: auto;
    padding: 120px 0 60px 0;
  }
  .home .exchangeBox {
    text-align: center;
    margin-top: 80px;
  
  }
  .home .exchangeBox .testContainer {
    width: 80%;
  }
}

@media (max-width: 768px) {
  .home {
    text-align: center;
  }
  .home h1 {
    font-size: 32px;
  }
  .home h2 {
    font-size: 24px;
  }
  .home .main_img .testContainer {
    width: 100%;
  }
}


/* 
Exchange Rate Styles

*/

/* .currencyContainer{
  background: linear-gradient(280.64deg , rgb(49, 219, 227) -90.67%, rgb(147, 14, 255) 150.19%);
  background: -webkit-linear-gradient(left,#702FED, #2F0A87, #E9DAFF ); 
  box-shadow: linear-gradient(238.64deg , rgb(49, 219, 227) -90.67%, rgb(147, 14, 255) 122.19%);
} */

.home .exchangeBox{
  width: 420px;
  margin: 0px;
  text-align: right;
  box-shadow: 0 4px 8px 0 rgb(51, 21, 206), 0 6px 20px 0 rgba(83, 17, 106, 0.19);
  border-radius: 20px;
  height: 500px;
  margin-top: 12vh;
  margin-left: 22ch;
  text-align: center;
  color: #000000;  
}

.currency{
  padding-top: 5%;
  padding-bottom: 5%;
  
}

.currency label{
  color:rgb(18, 0, 59);
  font-size: 20px;
}

.currency select{
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  background-color: transparent;
  color: #0e3114;
  height: 32px;
  width: auto;
  border-radius: 5px;
  border: none;

 
}

/* .currency.form-select {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  background-color:transparent;
  color: #0e3114;
  width : 100px;
  height: 32px;
  border: none;
  outline: none;
  border-radius: 5px;
  font-size: 2rem;
  align-content: right;

} */

.currency input {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  background-color: #e6e6e6;
  color: rgb(18, 0, 59);
  outline: none;
  border: none;
  width: 300px;
  height: 50px;
  border: none;
  border-radius: 30px;
  padding:2px;
  font-size: 1.3rem;
  font-weight: 500;
  margin-top: 4px;
  
}
.currency select option{
  /* background-color: #6C63FF; */
  font-size: 1rem;
  color: rgb(20, 41, 26);
  
}
.result {

  display: flex;
  align-items: center;
  justify-content: center;
}
button#exchange  {
  border: none;
  background-color: transparent;
  width: 40px;
  height: 40px;
  font-size: 1.5rem;
}

button#exchange:hover{
  color: #6C63FF;
  background-color: #F1F0FF;
  border: none;
  border-radius: 50%;
}

.rate{
  color: rgb(18, 0, 59);;    
  width: 500px;
  height: 25px;
  border-radius: 15px   ;
  border-radius: 35px;
  margin-top: 40px;
  font-weight: 500;
  font-size: 1.8rem;
  text-align: center;
}
select:focus, input:focus, button:focus {
	outline: 0;
}

/* #flag-from,
#flag-to {
  width: 15%;
  padding-left: 65%;
  padding-bottom: 10%;
  margin-top: 0%;
} */


/* 
Exchange Rate Styles End

*/


/*--------------------------------------------------------------
# About
--------------------------------------------------------------*/

.about .content {
  /* background-color: #fff; */
  padding: 40px;
}

.about h1 {
  color: rgb(18, 0, 59);
  font-family: Poppins, Helvetica, Arial, sans-serif;
  font-weight: bold;
  font-size: 24px;
  text-transform: uppercase;
}

.about h2 {
  font-family: Inter, Helvetica, Arial, sans-serif;
  font-weight: 500;
  color: rgb(111, 112, 140);
  font-size: 22px;
}

.about p {
  margin: 15px 0 30px 0;
  line-height: 24px;
}

.about .btn-read-more {
  line-height: 0;
  padding: 15px 40px;
  transition: 0.5s;
  color: #fff;
  background: linear-gradient(238.64deg , rgb(49, 219, 227) -90.67%, rgb(147, 14, 255) 122.19%);
  box-shadow: 0px 5px 25px rgba(65, 84, 241, 0.3);

  min-width: 220px;
  height: 64px;
  border-radius: 32px;
}

.about .btn-read-more span {
  font-family: "Nunito", sans-serif;
  font-weight: 600;
  font-size: 16px;
  letter-spacing: 1px;
}

.about .btn-read-more i {
  margin-left: 5px;
  font-size: 18px;
  transition: 0.3s;
}

.about .btn-read-more:hover i {
  transform: translateX(8px);
}

/*--------------------------------------------------------------
# F.A.Q
--------------------------------------------------------------*/
.faq .accordion-collapse {
  border: 0;
}

.faq .accordion-button {
  padding: 15px 15px 20px 0;
  font-weight: 600;
  border: 0;
  font-size: 18px;
  color: rgb(0, 0, 0);
  text-align: left;
}

.faq .accordion-button:focus {
  box-shadow: none;
}

.faq .accordion-button:not(.collapsed) {
  background: none;
  color: rgb(18, 0, 59);
  border-bottom: 0;
}

.faq .accordion-body {
  padding: 0 0 25px 0;
  border: 0;
  color: rgb(111, 112, 140);
}
/*--------------------------------------------------------------
# Footer
--------------------------------------------------------------*/
.footer {
  background: #12003B;
  padding: 0 0 30px 0;
  font-size: 14px;
}

.footer .footer-top {
  background: white url(../img/map.svg) no-repeat right top;
  background-size: contain;
  border-top: 1px solid #e1ecff;
  border-bottom: 1px solid #e1ecff;
  padding: 60px 0 30px 0;
}

@media (max-width: 992px) {
  .footer .footer-top {
    background-position: center bottom;
  }
}

.footer .footer-top .footer-info {
  margin-bottom: 30px;
}

.footer .footer-top .footer-info .logo {
  line-height: 0;
  margin-bottom: 15px;
}

.footer .footer-top .footer-info .logo img {
  max-height: 40px;
  margin-right: 6px;
}

.footer .footer-top .footer-info .logo span {
  font-size: 30px;
  font-weight: 700;
  letter-spacing: 1px;
  color: #593DBC;
  font-family: "Nunito", sans-serif;
  margin-top: 3px;
}

.footer .footer-top .footer-info p {
  font-size: 14px;
  line-height: 24px;
  margin-bottom: 0;
  font-family: "Nunito", sans-serif;
}

.footer .footer-top .social-links a {
  font-size: 20px;
  display: inline-block;
  color: 03803d(1, 41, 112, 0.5);
  line-height: 0;
  margin-right: 10px;
  transition: 0.3s;
}

.footer .footer-top .social-links a:hover {
  color:#593DBC;
}

.footer .footer-top h4 {
  font-size: 16px;
  font-weight: bold;
  color: rgb(18, 0, 59);
  text-transform: uppercase;
  position: relative;
  padding-bottom: 12px;
}

.footer .footer-top .footer-links {
  margin-bottom: 30px;
}

.footer .footer-top .footer-links ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.footer .footer-top .footer-links ul i {
  padding-right: 2px;
  color: #d0d4fc;
  font-size: 12px;
  line-height: 0;
}

.footer .footer-top .footer-links ul li {
  padding: 10px 0;
  display: flex;
  align-items: center;
}

.footer .footer-top .footer-links ul li:first-child {
  padding-top: 0;
}

.footer .footer-top .footer-links ul a {
  color: rgb(111, 112, 140);
  transition: 0.3s;
  display: inline-block;
  line-height: 1;
}

.footer .footer-top .footer-links ul a:hover {
  color: #6C63FF;
}

.footer .footer-top .footer-contact p {
  line-height: 26px;
}

.footer .copyright {
  text-align: center;
  padding-top: 30px;
  color: rgb(111, 112, 140);
}

.footer .credits {
  padding-top: 10px;
  text-align: center;
  font-size: 13px;
  color: rgb(111, 112, 140);
}
